---
import type { IFrontmatter } from '@/types/IFrontmatter';
import { BlogPost } from '@/components/BlogPost';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { PostHeader } from '@/components/PostHeader';

export interface Props {
  content: IFrontmatter;
}

const { content } = Astro.props as Props;
const title = `${content.title} - ${AppConfig.site_name}`;
---

<Base head={{ title, description: content.description }}>

  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <PostHeader content={content} author={AppConfig.author} />
  <div class="mx-auto mt-5 max-w-fit">
    <div class="aspect-w-4 aspect-h-2">
      <img
        class="h-full w-full rounded-lg object-cover object-center"
        src={content.imgSrc}
        alt={content.imgAlt}
        loading="lazy"
      ></img>
    </div>
    <div class="prose-invert prose mt-8 prose-img:rounded-md lg:prose-xl">
    <slot />
    </div>
  </div>

  </div>
</Base>
